<mat-toolbar color="primary">
    <span>{{dialogBaslik}}</span>
</mat-toolbar>
<div class="container">
  <form [formGroup]="frm">
    <mat-form-field appearance="outline">
      <mat-label>Öğrenci No</mat-label>
      <input matInput placeholder="Öğrenci No" formControlName="ogrNo" name="ogrNo" required type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Öğrenci Adı Soyadı</mat-label>
      <input matInput placeholder="Öğrenci Adı Soyadı" formControlName="ogrAdSoyad" name="ogrAdSoyad" required type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Öğrenci Doğum Tarihi</mat-label>
      <input matInput placeholder="Öğrenci Doğum Tarihi" formControlName="ogrDogTarih" name="ogrDogTarih" required type="text">
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" (click)="dialogRef.close(frm.value)" [disabled]="frm.invalid" >Kaydet</button>&nbsp;&nbsp;
  <button mat-raised-button color="warn" (click)="dialogRef.close()">Vazgeç</button>
</div>