<mat-toolbar color="primary" class="mat-elevation-z6">
  <span>{{dialogBaslik}}</span>
</mat-toolbar>
<div class="container">
  <form [formGroup]="frm">
    <mat-form-field appearance="outline">
      <mat-label>Ders Kodu</mat-label>
      <input matInput placeholder="Ders Kodu" name="dersKodu" formControlName="dersKodu" type="text" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ders Adı</mat-label>
      <input matInput placeholder="Ders Adı" name="dersAdi" formControlName="dersAdi" type="text" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ders Kredi</mat-label>
      <input matInput placeholder="Ders Kredi" name="dersKredi" formControlName="dersKredi" type="number" required>
    </mat-form-field>

  </form>

 <button mat-raised-button color="primary" (click)="dialogRef.close(frm.value)" [disabled]="frm.invalid">Kaydet</button>&nbsp;
 <button mat-raised-button color="warn" (click)="dialogRef.close()">İptal</button>

</div>